body
{
	margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vw;
    background-image: url(pinky.jpg);
	background-repeat: none;
    padding: 260px 250px;
    margin: 1000px;
    background-size: cover;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
}


.glow
{
	position: absolute;
	top: 15%;
	left: 25%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	display: flex;
}

.glow li
{
	list-style: none;
	color: #484848;
	font-family: 'Courier New', Courier, monospace;
	font-size: 7em;
	font-weight: 600;
	letter-spacing: 15px;
	animation:  animate 1.5s linear infinite;
}

@keyframes animate
{
	0%
	{
		color: #484848;
		text-shadow: none;
	}
	90%
	{
		color: #484848;
		text-shadow: none;
	}
	100%
	{
		color: #FFFF00;
		text-shadow: 0 0 7px #F1C40F, 0 0 50px #F1C40F;
	}
	
}

.glow li:nth-child(1)
{
	animation-delay: .2s;
}
.glow li:nth-child(2)
{
	animation-delay: .4s;
}
.glow li:nth-child(3)
{
	animation-delay: .6s;
}
.glow li:nth-child(4)
{
	animation-delay: .8s;
}



.glow1
{
	position: absolute;
	top: 15%;
	left: 90%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	display: flex;
}

.glow1 li
{
	list-style: none;
	color: #484848;
	font-family: 'Courier New', Courier, monospace;
	font-size: 7em;
	font-weight: 600;
	letter-spacing: 15px;
	animation:  animate 1.5s linear infinite;
}

@keyframes animate
{
	0%
	{
		color: #484848;
		text-shadow: none;
	}
	90%
	{
		color: #484848;
		text-shadow: none;
	}
	100%
	{
		color: #FFFF00;
		text-shadow: 0 0 7px #F1C40F, 0 0 50px #F1C40F;
	}
	
}

.glow1 li:nth-child(1)
{
	animation-delay: .2s;
}
.glow1 li:nth-child(2)
{
	animation-delay: .4s;
}
.glow1 li:nth-child(3)
{
	animation-delay: .6s;
}



h1
{
	position: absolute;
	top: 100%;
	left: 62%;
	margin: 0;
	padding: 0;
	color: #111;
	font-size: 13em;
	
}

h1 span
{
	display: table-cell;
	margin: 0;
	padding: 0;
	animation: animate 2s linear infinite;
}

h1 span:nth-child(1)
{
	animation-delay: 0s;
}

h1 span:nth-child(2)
{
	animation-delay: 0.25s;
}

h1 span:nth-child(3)
{
	animation-delay: 0.5s;
}

h1 span:nth-child(4)
{
	animation-delay: 0.75s;
}

h1 span:nth-child(5)
{
	animation-delay: 1s;
}

h1 span:nth-child(6)
{
	animation-delay: 1.25s;
}


@keyframes animate
{
	0%,100%
	{
		color: #fff;
		filter: blur(2px);
		text-shadow: 0 0 10px #00b3ff,
					 0 0 20px #00b3ff,
					 0 0 40px #00b3ff,
					 0 0 80px #00b3ff,
					 0 0 120px #00b3ff,
					 0 0 200px #00b3ff,
					 0 0 300px #00b3ff,
					 0 0 400px #00b3ff;
	
	}
	5%,95%
	{
		color:#111;
		filter: blur(0px);
		text-shadow: none;
	}
}

audio
{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 88%;
	left: 35%;
}
